---
import { markdownify } from '@/lib/utils/textConverter';
import ImageMod from './ImageMod.astro';

const {
  image,
  title_prefix,
  title,
  plan_prefix,
  plan,
  price,
  price_suffix,
  button,
  list,
} = Astro.props;
---

<div
  class="px-6 py-8 md:py-10 bg-light hover:bg-body hover:shadow gap-y-5 group transition-all duration-300 max-w-5xl mx-auto"
>
  <div class="row gy-6 items-center justify-center">
    <div class="md:col-5 lg:col-4">
      {image && <ImageMod src={image} alt={title} />}
      <div class="mt-10 md:mt-12">
        {
          title_prefix && (
            <p class="pb-2" set:html={markdownify(title_prefix)} />
          )
        }
        {title && <span class="block h5" set:html={markdownify(title)} />}
      </div>

      {
        list && (
          <ul class="space-y-3 mt-8 hidden lg:block">
            {list.map((item: string) => (
              <li class="relative flex items-center gap-x-2">
                <svg
                  class="shrink-0"
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                >
                  <circle cx="9" cy="9" r="9" fill="#6EE272" />
                  <path
                    d="M4.91 9l2.864 2.864L13.092 6.546"
                    stroke="#fff"
                    stroke-width="3"
                  />
                </svg>
                <span
                  class="font-text-light text-sm leading-relaxed"
                  set:html={markdownify(item)}
                />
              </li>
            ))}
          </ul>
        )
      }
    </div>

    <div class="md:col-7 lg:col-8">
      <div class="flex flex-col h-full">
        <div class="flex-grow">
          {
            plan_prefix && (
              <p
                class="pb-2 h5 !text-left min-h-[2.5rem] flex items-start"
                set:html={markdownify(plan_prefix)}
              />
            )
          }
          {
            plan && (
              <div
                class="text-base leading-relaxed max-w-none text-justify min-h-[6rem] flex items-start"
                set:html={markdownify(plan)}
              />
            )
          }
        </div>

        <div class="mt-auto pt-6">
          <div class="mb-6">
            {price && <strong class="inline h2" set:html={markdownify(price)} />}
            {
              price_suffix && (
                <span class="font-bold" set:html={markdownify(price_suffix)} />
              )
            }
          </div>

          {
            button && button.enable && (
              <a
                href={button.link}
                class="btn btn-sm btn-outline-primary group-hover:bg-primary hover:text-text-dark group-hover:border-transparent hidden lg:block w-fit"
                set:html={markdownify(button.label)}
              />
            )
          }
        </div>
      </div>
    </div>

    {
      list && (
        <div class="col-12 lg:hidden">
          <ul class="space-y-3 mt-6">
            {list.map((item: string) => (
              <li class="relative flex items-center gap-x-2">
                <svg
                  class="shrink-0"
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                >
                  <circle cx="9" cy="9" r="9" fill="#6EE272" />
                  <path
                    d="M4.91 9l2.864 2.864L13.092 6.546"
                    stroke="#fff"
                    stroke-width="3"
                  />
                </svg>
                <span
                  class="font-text-light text-sm leading-relaxed"
                  set:html={markdownify(item)}
                />
              </li>
            ))}
          </ul>
        </div>
      )
    }

    {
      button && button.enable && (
        <div class="col-12 lg:hidden">
          <a
            href={button.link}
            class="btn btn-sm btn-outline-primary group-hover:bg-primary hover:text-text-dark group-hover:border-transparent mt-6"
            set:html={markdownify(button.label)}
          />
        </div>
      )
    }
  </div>
</div>
