---
import AnimatedCircles from '@/components/AnimatedCircles.astro';
import DotTitle from '@/components/DotTitle.astro';
import TeamSlider from '@/components/TeamSlider.astro';
import DynamicIcon from '@/helpers/DynamicIcon';
import { markdownify } from '@/lib/utils/textConverter';
import type { CollectionEntry } from 'astro:content';
import { getEntry } from 'astro:content';

const { team } = (
  (await getEntry('about', '-index')) as CollectionEntry<'about'>
).data;

const exampleList = [
  {
    heading: 'In addition to core testing, we can support your practice with',
    items: [
      'Written advisory on any DORA obligations, ad-hoc & tailored to specific businesses',
      'Mapping matrices linking testing results to DORA requirements',
      'Best practices guidance from both regulatory and business point of view.',
    ],
  },
];
---

{
  team && team.enable && (
    <section class="section overflow-hidden">
      <div class="container-light relative">
        <div>
          {team.title && (
            <h2
              class="mb-6 lg:mb-12 text-center 2xl:col-10 mx-auto"
              data-aos="fade-up-sm"
              data-aos-delay="100"
            >
              Additional Consultant Services
            </h2>
          )}

          <div class="2xl:col-10 mx-auto">
            {exampleList.map((group, groupIndex) => (
              <div class="mb-10 text-left" key={group.heading}>
                <h4 class="h5 mb-6 text-primary" data-aos="fade-up-sm">
                  {group.heading}
                </h4>
                <ul
                  class="text-text-dark font-normal"
                  data-aos={`${groupIndex % 2 === 0 ? 'fade-right-sm' : 'fade-left-sm'}`}
                >
                  {group.items.map((item, itemIndex) => (
                    <li class="relative mb-4 flex items-start" key={itemIndex}>
                      <div class="pr-2 mt-[5px]">
                        <span class="bg-primary w-5 h-5 grid place-items-center rounded-full">
                          <DynamicIcon
                            icon="FaCheck"
                            className="text-white text-xs inline-block"
                          />
                        </span>
                      </div>
                      <span set:html={markdownify(item)} class="text-lg" />
                    </li>
                  ))}
                </ul>
              </div>
            ))}
          </div>
        </div>

        {/* <TeamSlider members={team.members} /> */}

        <div class="absolute right-0 bottom-0 translate-y-1/2 translate-x-1/2">
          <AnimatedCircles />
        </div>
      </div>
    </section>
  )
}
